{% extends "mainweb/mainweb-base.html" %}

{% block title %}Websites{% endblock %}
{% block heading %}Websites{% endblock %}

{% block table_list %}

  <table class="table table-bordered" style="width:100%;">
    <tr><td>Domain</td><td>Meta Keywords</td><td>Meta Description</td></tr>
    {% for i in object_list %}
    <tr>
      <td><a href="/mainweb/website/{{i.id}}">{{ i.domain }}</a> </td>
      <td>{{ i.meta_key }} </td>
      <td>{{ i.meta_desc }}</td>
    </tr>
    {% endfor %}
   </table>

 {% endblock %}


 {% block action_button %}
    <input type="button" class="btn btn-info pull-right" value="Add Website" 
                onclick="window.location='{% url 'website-add' %}';"/>
{% endblock %}
