{% extends "mainweb/mainweb-base.html" %}

{% block title %}Website Page {{object.title}}{% endblock %}
{% block heading %}Website Page: {{object.title}}{% endblock %}


{% block detail_view %}
    Website Page: {{object.title}}<hr />
    Template: {{object.template}}<br /><br />
    Website: {{object.website.domain}}<br />
    URL: sitename.com/{{object.name}}


{% endblock %}

{% block action_button %}
    <input type="button" class="btn btn-info pull-right" value="Back to Website Pages" 
                onclick="window.location='{% url 'websitepage-view' %}';"/>
{% endblock %}

