{% extends "mainweb/mainweb-base.html" %}

{% block additional_css_overrides %}
<style type="text/css">
    textarea{ height:42px; width:300px;}
</style>
{% endblock %}

{% block title %}Add a Website Page{% endblock %}
{% block heading %}Add a Website Page{% endblock %}


{% block form_submit_to %}{% url "websitepage-add" %}{% endblock %}

{% block add_websitepage_form %}
    <table width="650">
      {{form.as_table}}
    </table>
    <input type="submit" class="btn btn-success" value="Add Website Page" />
 {% endblock %}

{% block action_button %}
    <input type="button" class="btn btn-info pull-right" value="View Website Pages" 
                onclick="window.location='{% url 'websitepage-view' %}';"/>
{% endblock %}
